*{
    margin: 0;
    padding: 0;
}


body{
    font-family: HelveticaRegular;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #fcf9fa;
}

.dev-link{
    color: #e3405f;
    transition-duration: 0.2s;
}

.dev-link:hover {
    text-decoration: none;
    /*color: #6f1526;*/

}

.img-block{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-block{
    margin-left: 80px;
}

.about-us__title{
    margin-top: 20px;
    font-size: 44px;
}

.fly-in-it{
    max-width: 400px;
    width: 100%;
}

.about-us__img{
    max-width: 650px;
    width:100%;
    padding: 0 20px;
}

.about-us__text{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 70px;
}

.main{
    display: flex;
    justify-content: center;
}

.about-logotype{
    margin-top: 30px;
    width: 220px;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}