@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/Helvetica/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/Helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/Helvetica/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/Helvetica/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/Helvetica/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/Helvetica/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #f2f2f2;
    font-family: HelveticaRegular;
}

.blue{
    background-color: #2aa3ef;
}

.edit-row {
    margin: 0;
}

/* HEADER */
.header {
    background-color: #f5f8fa;
    -webkit-box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.75);
}

.qwerty {
    color: #e64e6c;
}

.header-row {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
}

.header-home {
    margin-left: 4%;
}

.navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.header-icon {
    font-weight: 900 !important;
}

.navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.navigation {
    max-width: 600px;
    width: 100%;
}

.count-symbol{
    margin: 0;
    border: 0;
    padding: 0;
    width: 25px;
    text-align: right;
}

.navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 175px;
}

.navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}


.navigation-item__img {
    margin-right: 5px;
    width: 200px;
}

.navigation-list {
    display: flex;
}

.search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.burger-btn {
    padding-left: 0 !important;
}

.burger-btn:focus {
    outline: none;
}

.twit-btn {
    width: auto;
    height: 30px;
    background-color: #4bd582;
    border-radius: 15px;
    font-size: 0.8rem;
}

.login-navbar {
    height: 45px;
    display: flex;
}

.logo-center {
    text-align: center;
}

@media (max-width: 370px) {
    .twitter__logo {
        display: none;
    }
}

.edit-main {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    display: block;
}

.edit-profile-block {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    height: 140px;
}

.edit-profile-block-info {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    min-height: 140px;
    min-width: 250px;
    overflow: visible;
}

.edit-background {
    background-color: #e64e6c;
    height: 85px;
}

.edit-profile-img {
    width: 60px;
    height: 60px;
    background-color: #999;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.edit-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.edit-username {
    padding-left: 85px;
}

.edit-name {
    font-weight: bold;
    color: #000000;
}

.edit-name:hover {
    text-decoration: none;
}

.edit-form {
    background-color: #ffffff;
    padding: 10px;
}

.edit-form-title {
    padding-top: 10px;
    font-size: 28px;
}

.edit-form-second {
    margin-top: 15px;
}

.form-group {
    padding-top: 15px;
}

.edit-names {
    display: inline-block;
    width: 49%;
    flex-wrap: wrap;
}

.edit-form-control {
    border: 0;
    border-bottom: 2px solid #DEE2E6;
    padding: 0;
}

.edit-btn {
    width: auto;
    height: 30px;
    background-color: #4bd582;
    border: none;
    border-radius: 0;
    font-size: 0.8rem;
}

@media (max-width: 990px) {
    .edit-form {
        padding: 25px;
    }
}

@media (min-width: 540px) and (max-width: 990px) {
    .edit-card {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}

.login-container {
    width: 70%;
    border: 2px solid #DEE2E6;
    align-items: center;
    margin-top: 15px;
    padding: 0;
    display: block;
}

.login-form {
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

.login-form__title {
    padding-top: 20px;
    font-size: 1.75rem;
}

.login-form-group {
    padding-top: 25px;
}

.login-form-control {
    border: 0;
    border-bottom: 2px solid #DEE2E6;
    padding: 0;
    width: 40%;
}

.login-btn {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: #4bd582;
    border: none;
    margin-bottom: 15px;
}

.login-btn-primary {
    font-size: 0.8rem;
    padding: 1.5px;
}

.login-reference {
    height: 65px;
    background-color: #f5f9fa;
}

.login-reference__text {
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 20px;
}

@media screen and (min-width: 0) and (max-width: 1100px) {
    .login-form-control {
        width: 100%;
    }
}

.main-page-header {
    background-color: #f5f8fa;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 15px;
    background-color: #f5f8fa;
    flex-wrap: wrap;
}

.main-page-row {
    width: 100%;
    margin: 0;
}

.main-page-head {
    margin-left: 5%;
    flex-wrap: nowrap;
}

.main-page-navbar {
    flex-wrap: nowrap;
    padding: 0;
}

.main-page-navbar-toggler {
    border: none;
    color: #2AA3EF !important;
    font-size: 0.48rem !important;
    font-weight: 900 !important;
}

.main-page-fa, .main-page-fas {
    font-weight: 900 !important;
}

.main-page-navigation {
    max-width: 600px;
    width: 100%;
}

.main-page-navigation-item {
    text-decoration: none;
    color: #66757f;
    transition: 0.5s all ease-out;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.main-page-navigation-item:hover {
    text-decoration: none;
    color: #1d2129;
}

.main-page-navigation-item__img {
    margin-right: 5px;
}

.main-page-navigation-list {
    display: flex;
}

.main-page-search__input {
    border: none;
    text-indent: 10px;
    height: 100%;
    width: 85%;
    background-color: inherit;
    font-weight: 700;
    font-size: 13px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

.main-page-search__input::-webkit-input-placeholder {
    color: #dadee0;
}

.main-page-search-block {
    height: 32px;
    background-color: #a3acb2;
    color: #dadee0;
    font-weight: 700;
    font-size: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-page-search__img {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.main-page-button {
    padding-left: 0px !important;
}

.main-page-button:focus {
    outline: none;
}

.main-page-btn {
    width: auto;
    height: 30px;
    background-color: #4bd582;
    border-radius: 0;
}

.main-page-btn-primary {
    font-size: 0.8rem;
}

.main-page-twit {
    border-radius: 15px;
}

@media (max-width: 990px) {
    .main-page-head {
        padding: 0;
        margin: 0;
    }
}

.main-page-profile-block-info {
    padding: 0;
    margin-top: 0;
    background-color: #ffffff;
    height: 200px;
    overflow: visible;
}

.main-page-background {
    background-color: #201770;
    height: 85px;
}

.main-page-profile-img {
    width: 60px;
    height: 60px;
    background-color: #999;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.main-page-fa-user {
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.main-page-username {
    padding-left: 85px;
}

.main-page-name {
    font-weight: bold;
    color: #000000 !important;
}

.main-page-info {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.main-page-a {
    color: #657786;
}

.main-page-a:hover {
    text-decoration: none;
}

.main-page-amount {
    color: #657786;
    margin-left: 23px;
}

.main-page-tweet-textarea-block {
    padding-top: 40px;
    padding-bottom: 20px;
}

.main-page-tweet-submit-block {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    padding-bottom: 15px;
}

.main-page-write-tweet {
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.main-page-textarea {
    height: 40px;
    border: 0;
    border-bottom: 1px solid #999999;
    resize: none;
    background-color: inherit;
    width: 100%;
    overflow: hidden;
    outline: none;
    transition: all 0.4s ease-out;
}

.main-page-textarea:focus {
    border-bottom: 2px solid #6610f2;
}

.main-page-textarea-counter {
    float: right;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-page-tweet-send {
    width: 75px;
    height: 35px;
    border-radius: 20px;
    background-color: #4bd582;
    color: #f1f1f1;
    cursor: default;
    border: 0;
    outline: none;
    display: block;
}

.main-page-person-card {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
}

.main-page-tweet-footer {
    display: flex;
}

.main-page-person-info-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-page-person-img {
    align-self: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-page-tweet-time {
    margin-top: 1px;
}

.main-page-card-title {
    font-size: 28px;
}

.main-page-card-link {
    color: #4bd582;
}

.main-page-followers-block {
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}

.main-page-view-all {
    font-weight: 400;
    font-size: 12px;
    color: #2aa3ef;
}

.main-page-bold {
    font-weight: bold;
}

.main-page-follow-description {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-page-follow-person-background {
    width: 40px;
    margin-right: 10px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #999999;
}

.main-page-person-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page-follow-person {
    margin-top: 10px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}

.main-page-follow-person:last-child {
    border-bottom: 0;
}

.main-page-person-text {
    font-weight: bold;
    color: #010101;
    margin-bottom: 4px;
}

.main-page-person-link {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.main-page-person-button {
    color: #ffffff;
    background-color: #2aa3ef;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
}

.main-page-follow-person-info {
    display: flex;
}

@media (max-width: 991px) {
    .main-page-write-tweet {
        margin-top: 20px;
    }
}

.index-container {
    margin-top: 90px;
    width: 40%;
    font-weight: bolder;
}

.index-btn-primary:not(:disabled):not(.disabled).active,
.index-btn-primary:not(:disabled):not(.disabled):active,
.index-show > .btn-primary.dropdown-toggle {
    outline: none;
    background-color: #4bd582;
    border: none;
}

.index-btn-secondary:not(:disabled):not(.disabled).active,
.index-btn-secondary:not(:disabled):not(.disabled):active,
.index-show > .btn-secondary.dropdown-toggle {
    outline: none;
    background-color: #ffffff;
    color: #4bd582;
    border: none;
}

.index-btn {
    border-radius: 20px;
    height: 35px;
    padding: 3px;
}

.index-title {
    font-size: 2rem;
    line-height: 100%;
}

.index-text {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
}

.signup-href-a-link {
    color: #e64e6c;
}

.login-signup-btn-a-link {
    color: #e64e6c;
}

@media screen and (min-width: 0) and (max-width: 1100px) {
    .index-container {
        width: 80%;
    }
}

@charset "UTF-8";
a:hover {
    text-decoration: none;
}

.personal-header {
    background-color: #f5f8fa;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

.row {
    width: 100%;
    margin: 0;
}

.head {
    margin-left: 5%;
    flex-wrap: nowrap;
}

.fa, .fas {
    font-weight: 900 !important;
}

button:focus {
    outline: none;
}

.personal-header__btn {
    width: auto;
    height: 30px;
    background-color: #4bd582;
    border-radius: 0;
    font-size: 0.8rem;
    border-radius: 15px;
}

@media (max-width: 990px) {
    .head {
        padding: 0;
        margin: 0;
    }
}

.personal-background-profile {
    width: 100%;
    height: 200px;
    background-color: #2aa3ef;
}

.personal-menu-block {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
}

.personal-tab {
    height: 48px;
    padding-top: 5px;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    margin-right: 1.5rem;
    color: #66757f;
    font-weight: 500;
    box-sizing: border-box;
}

.personal-tabs__caption {
    margin: 0;
}

.active.personal-tab {
    color: #2AA3EF;
    border-bottom: 4px solid #007bff;
}

.personal-tabs__caption {
    display: flex;
}

.personal-tabs-number {
    font-weight: bold;
    font-size: 16px;
}

.personal-edit-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-edit {
    padding-right: 10px;
    color: #595959;
}

.personal-tabs__content {
    display: none;
    /* по умолчанию прячем все блоки */
}

.personal-tabs__content.active {
    display: block;
    /* по умолчанию показываем нужный блок */
}

.personal-background-avatar {
    margin: 0;
    margin-top: -150px;
    width: 180px;
    height: 180px;
    border: 6px solid #ffffff;
    position: relative;
    background-color: #999999;
    border-radius: 50%;
}

.profile-background-icon {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.personal-profile-name {
    margin-top: 20px;
    color: #14171A;
    font-size: 20px;
    font-weight: bold;
}

.personal-profile-tag {
    color: #657786;
    margin-bottom: 20px;
    font-size: 14px;
}

.personal-profile-bio {
    color: #14171A;
    font-size: 14px;
}

.personal-info-block {
    padding-left: 15%;
}

.personal-followers-block {
    margin-top: 20px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 5px;
}

.personal-view-all {
    font-weight: 400;
    font-size: 12px;
    color: #007bff;
}

.personal-follow-description {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.personal-follow-person-background {
    width: 40px;
    margin-right: 10px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background-color: #999999;
}

.personal-person-icon {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.personal-follow-person {
    margin-top: 10px;
    border-bottom: 1px solid #999999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}

.personal-follow-person:last-child {
    border-bottom: 0;
}

.personal-person-text {
    font-weight: bold;
    color: #010101;
    margin-bottom: 4px;
}

.personal-person-button {
    color: #ffffff;
    background-color: #4bd582;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
}

.personal-follow-person-info {
    display: flex;
}

.personal-write-tweet {
    background-color: #E8F5FD;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.personal-textarea {
    height: 40px;
    border: 0;
    border-bottom: 1px solid #999999;
    resize: none;
    background-color: inherit;
    width: 100%;
    overflow: hidden;
    outline: none;
    transition: all 0.4s ease-out;
}

.personal-textarea:focus {
    border-bottom: 2px solid #6610f2;
}

.personal-textarea-counter {
    float: right;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.personal-tweet-send {
    width: 75px;
    height: 35px;
    border-radius: 20px;
    background-color: #DFDFDF;
    color: #9f9f9f;
    cursor: default;
    border: 0;
    outline: none;
    display: block;
}

.personal-tweet-textarea-block {
    padding-top: 40px;
    padding-bottom: 20px;
}

.personal-tweet-submit-block {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
    padding-bottom: 15px;
}

@media (max-width: 500px) {
    .personal-edit {
        padding-right: 0;
    }

    .personal-person-link {
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }
}

.personal-following-background {
    background-color: #007bff;
    width: 100%;
    height: 100px;
}

.search-row {
    margin: 0;
}

/* MAIN-BLOCK */
.search-main {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0;
    display: block;
}

.search__profile-block {
    padding: 0;
    margin: 15px;
    margin-top: 0;
    background-color: #ffffff;
    min-height: 140px;
    min-width: 250px;
    overflow: visible;
}

.search-background {
    background-color: #e64e6c;
    height: 85px;
}

.search__profile-img {
    width: 60px;
    height: 60px;
    background-color: #999999;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: relative;
    top: 55px;
    margin-left: 15px;
    left: 0;
}

.search-card {
    color: #667785;
    width: 250px;
    border: none;
    background-color: unset;
}

.search-username {
    padding-left: 85px;
}

.search-name {
    font-weight: bold;
    color: #000000;
}

.search-name:hover {
    text-decoration: none;
}

.search-nickname {
    color: #657786;
}

.search-info {
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.search__info-title {
    color: #657786;
}

.search__info-amount {
    color: #657786;
    margin-left: 23px;
}

.form__search-tape {
    background-color: white;
    height: 100px;
    margin-bottom: 5px;
    min-width: 220px;
}

.form__finder-img {
    background-color: #999999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.form__finder-name {
    margin: 0;
    color: #4bd582;
}

.form__finder-nickname {
    color: #999999;
    margin: 0;
}

.form__finder-following {
    border-radius: 15px;
    width: 120px;
    border: 0;
    color: white;
    background-color: #4bd582;
}

.form__search {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background-color: #e5edf0;
    display: none;
    min-width: 220px;
}

.form__submit-search {
    background-color: #4bd582;
    border: 0;
    width: 20px;
    height: 20px;
    display: none;
    background-image: url(../images/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 5px;
}

@media (max-width: 770px) {
    .form__search {
        display: block;
    }

    .form__submit-search {
        display: block;
    }
}

@media (min-width: 540px) and (max-width: 990px) {
    .card {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}

.login-twitter__logo {
    width: 32px;
    height: 27px;
}

.signup-container {
    width: 40%;
    border: 2px solid #DEE2E6;
    align-items: center;
    margin-top: 15px;
    margin-left: 15%;
    padding: 0;
    display: block;
    margin-bottom: 15px;
}

.signup-form {
    background-color: #ffffff;
    padding: 10px;
}

.signup-form__title {
    padding-top: 10px;
    font-size: 28px;
}

.signup-form-group {
    padding-top: 15px;
}

.signup-names {
    display: inline-block;
    width: 49%;
    flex-wrap: wrap;
}

.signup-form-control {
    border: 0;
    border-bottom: 2px solid #DEE2E6;
    padding: 0;
}

.signup-btn {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #4bd582;
}

.signup-btn-primary {
    font-size: 0.8rem;
    padding: 1.5px;
}

.signup-reference {
    height: 65px;
    background-color: #f5f9fa;
}

.signup-reference__text {
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 20px;
}

@media screen and (min-width: 0) and (max-width: 1224px) {
    .signup-names {
        width: 100%;
    }

    .signup-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.home-logotype {
    width: 240px;
    height: 40px;
}

/*.password-wrap::before{*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    !*top: 50%;*!*/
/*    left: 85%;*/
/*    !*transform: translate(-50%, 0);*!*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    background-image: url("../images/eye-regular.svg");*/
/*}*/


.password-wrap, .login-password{
position: relative;
    display: block;
}

.login-password:before{
content: '123';
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/eye-regular.svg');
}

.login-password-wrap{
    position: relative;
    display: inline-block;
}

.sign-up-password__icon{
    position: absolute;
    top: 27%;
    left: 95%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    color: #495057;
}

.sign-up-password__icon:hover{
    color: #8ac1fc;
}