<div class="col-lg-3 followers-block main-page-followers-block">
    <p class="bold main-page-bold follow-description main-page-follow-description">Who to follow · <a
                class="main-page-a view-all main-page-view-all" href="#viewAll">View all</a></p>

    <div class="follow-person main-page-follow-person">
        <div class="follow-person-info main-page-follow-person-info">

            <div class="follow-person-background main-page-follow-person-background">
                <i class="fas main-page-fas fa-user main-page-fa-user person-icon main-page-person-icon"></i>
            </div>

            <div class="person-history">
                <p class="person-text main-page-person-text">Maksim Zima<span
                            class="px-2 person-link main-page-person-link">@max</span></p>
                <input class="person-button main-page-person-button" type="button" value="FOLLOWING">
            </div>
        </div>
        <i class="fas main-page-fas fa-times"></i>
    </div>
    <div class="follow-person main-page-follow-person">
        <div class="follow-person-info main-page-follow-person-info">

            <div class="follow-person-background main-page-follow-person-background">
                <i class="fas main-page-fas fa-user main-page-fa-user person-icon main-page-person-icon"></i>
            </div>

            <div class="person-history">
                <p class="person-text main-page-person-text">Maksim Zima<span
                            class="px-2 person-link main-page-person-link">@max</span></p>
                <input class="person-button main-page-person-button" type="button" value="FOLLOWING">
            </div>
        </div>
        <i class="fas main-page-fas fa-times"></i>
    </div>
    <div class="follow-person main-page-follow-person">
        <div class="follow-person-info main-page-follow-person-info">

            <div class="follow-person-background main-page-follow-person-background">
                <i class="fas main-page-fas fa-user main-page-fa-user person-icon main-page-person-icon"></i>
            </div>

            <div class="person-history">
                <p class="person-text main-page-person-text">Maksim Zima<span
                            class="px-2 person-link main-page-person-link">@max</span></p>
                <input class="person-button main-page-person-button" type="button" value="FOLLOWING">
            </div>
        </div>
        <i class="fas main-page-fas fa-times"></i>
    </div>
</div>
