{% block header %}
    <header class="navbar sticky-top header login-navbar">
        <div class="container">
            <div class="row header-row align-items-center">
                <div class="header-home col-lg-2 d-none  d-lg-flex">
                    <a class="navigation-item" href="/">
                        <img alt="Home icon" class="navigation-item__img home" src="../../../public/images/devCommunication.svg">
                  </a>
                </div>

                <div class="col-lg-1 d-none d-lg-flex ml-5">
                    <a class="navigation-item" href="/about">
                        <span class="navigation-item__text">About</span>
                    </a>
                </div>


            </div>
        </div>
    </header>
{% endblock %}