<div class="profile-block-info main-page-profile-block-info col-lg-3">
    <div class="background main-page-background">
        <div class="profile-img main-page-profile-img"><i
                    class="fas main-page-fas fa-user main-page-fa-user"></i></div>
    </div>
    <div class="card main-page-card">
        <div class="username main-page-username">
            <a class="name main-page-name main-page-a" href="personal">{{ user.firstname }} {{ user.lastname }}</a>

            <div class="nickname">@{{ user.username }}</div>
        </div>
        <div class="info main-page-info">
            <a class="main-page-a" href="#">
                Tweets
                <div class="amount main-page-amount">{{ countPost }}</div>
            </a>
            <a class="main-page-a" href="#">
                Following
                <div class="amount main-page-amount">0</div>
            </a>
            <a class="main-page-a" href="#">
                Followers
                <div class="amount main-page-amount">0</div>
            </a>
        </div>
    </div>
</div>