<div class="form__search-tape search-row row">
    <div class="form__finder-img mt-2 ml-3"><img src="../img/tape/user.png" alt=""></div>
    <div class="mt-2 ml-2">
        <p class="form__finder-name">Alex Art</p>
        <p class="form__finder-nickname">@Alex</p>
        <input type="button" class="form__finder-following" value="Following">
    </div>
</div>