<div class="card main-page-card mb-2 mt-4 person-card main-page-person-card">
    <div class="card-body py-3 px-0 ">

        <div class="person-info-block main-page-person-info-block">
            <img class="person-img main-page-person-img mx-3" src="../../../public/images/tape/giulioBXProfilePic.png">
            <span class="px-1">{{ user.firstname }} {{ user.lastname }} @{{ user.username }}</span>
            <span class="card-subtitle tweet-time main-page-tweet-time px-3 text-muted font-size-12">{{ post.created_at }}</span>
        </div>

        <p class="card-text mb-3 px-3 font-weight-normal main-page-card-title card-title">{{ post.body }}</p>

        <div class="mt-2 px-3">
            <div class="tweet-footer main-page-tweet-footer">

                <div class="mr-2 ">
                    <i class="fas fa-heart"></i>
                    <span class=" font-weight-bold font-size-12">150</span>
                </div>

            </div>
        </div>
    </div>
</div>