<div class="write-tweet main-page-write-tweet">
    <form id="postForm" class="tweet-form">
        <div class="tweet-textarea-block main-page-tweet-textarea-block">
                            <textarea class="textarea main-page-textarea" id="textarea" maxlength="1200"
                                      placeholder="Write your tweet..." name="body" oninput=count()></textarea>
            <div class="textarea-counter main-page-textarea-counter"><input class="count-symbol" id="count-symbol" value="0">/1200
            </div>
            <div id="textarea-danger" style="display:none;" class="text-danger">
                Must be longer than 3 characters and shorter than 1200 characters
            </div>
        </div>
        <div class="tweet-submit-block main-page-tweet-submit-block">
            <input class="tweet-send main-page-tweet-send" id="submitBtn" type="button" value="TWEET">
        </div>
    </form>
</div>
