<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ asset('bootstrap/popper.min.js') }}"></script>
    <script src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/bootstrap.bundle.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="{{ asset('css/about.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('images/faviconDev.png') }}" type="image/x-icon">
    <title>About Us</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 main">
            <div class="main-wrap">
                <div class="about-block">
                    <a href="/"><img src="{{ asset('images/devCommunication.svg') }}" alt="Logotype" class="about-logotype"></a>
                    <h1 class="about-us__title">О нас</h1>
                    <div class="about-us__text">
                        Социальная сеть <a href="/" class="dev-link">DevCommunication</a> - выпускной проект <br>
                        студентов международного IT-колледжа <a href="https://deveducation.com/" class="dev-link">DevEducation</a>. <br>
                        Создана для обмена опытом и новыми идеями. Здесь всегда <br>
                        можно найти полезный совет, получить заряд мотивации <br>
                        и найти отличных собеседников. Присоединяйся к нам и полетели!
                    </div>
                    <img src="{{ asset('images/fox.svg') }}" alt="Fly with us" class="fly-in-it">
                </div>
            </div>
        </div>

        <div class="col-lg-6 img-block">
            <img alt="Map Dev" class="about-us__img" src="{{ asset('images/Map.png') }}">
        </div>
    </div>
</div>
</body>
</html>