{% extends 'Layouts/default.twig' %}


{% block content %}
    {{ include ('Blocks/main-header.twig') }}
    <div class="container edit-main col-lg-10">
        <div class="edit-row row">
            {% include 'Blocks/profile-block-info.twig' %}
            <div class="form col-lg-6">
                <form class="edit-form edit-form-info" id="edit-form-info">
                    <div class="edit-form-title">Personal Information</div>
                    <div class="row">
                        <div class="col-12 col-md-6 pl-0 pb-3 pb-md-0 pr-0 pr-md-2">
                            <input  name="firstname" type="text" class="form-control edit-form-control" id="firstName"
                                    placeholder="First Name">
                            <small class="form-text text-muted">Name must be longer than 3 and shorter than
                                30 characters</small>
                            <div id="firstName-danger" style="display:none;" class="text-danger">
                                Incorrect name
                            </div>
                        </div>

                        <div class="col-12 col-md-6 pl-0 pr-0">
                            <input name="lastname" type="text" class="form-control edit-form-control" id="lastName"
                                   placeholder="Last Name">
                            <small class="form-text text-muted">Last name must be longer than 3 and shorter
                                than 30 characters</small>
                            <div id="lastName-danger" style="display:none;" class="text-danger">
                                Incorrect last name
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="email" type="email" class="form-control edit-form-control" id="email" placeholder="Email">
                    </div>
                    <div id="email-danger" style="display:none;" class="text-danger">
                        Incorrect email
                    </div>
                    <div class="form-group">
                        <input name="username" type="text" class="form-control edit-form-control" id="username" placeholder="Username">
                        <small class="form-text text-muted">Longer than 3 characters and shorter than 15
                            characters</small>
                    </div>
                    <div id="username-danger" style="display:none;" class="text-danger">
                        Incorrect username
                    </div>
                    <div class="form-group">
                        <input name="bio" type="text" class="form-control edit-form-control" id="bio" placeholder="Bio">
                        <small class="form-text text-muted">Longer than 3 characters and shorter than 140
                            characters</small>
                    </div>
                    <div id="bio-danger" style="display:none;" class="text-danger">
                        Incorrect bio
                    </div>
                    <div class="form-group">
                        <input name="dob" type="text" onfocus="(this.type='date')" class="form-control edit-form-control"
                               id="dateOfBirth"
                               placeholder="Date of Birth">
                    </div>
                    <div id="dateOfBirth-danger" style="display:none;" class="text-danger">
                        Incorrect date
                    </div>
                    <div class="btn btn-primary edit-btn" id="submitBtn">UPDATE</div>
                </form>


                <form class="edit-form edit-form-second edit-form-password" id="edit-form-password">
                    <div class="edit-form-title">Change Password</div>

                    <div class="form-group">
                        <div class="password-wrap">
                            <input type="password" id="currentPassword"   class="form-control edit-form-control"
                                   placeholder="Current Password">
                            <i class="far fa-eye sign-up-password__icon" id="current-password-eye"></i>
                        </div>
                    </div>
                    <div id="currentPassword-danger" style="display:none;" class="text-danger">
                        Incorrect password
                    </div>
                    <div class="form-group">
                        <div class="password-wrap">
                            <input type="password" id="password" class="form-control edit-form-control"
                                   placeholder="Password">
                            <i class="far fa-eye sign-up-password__icon" id="password-eye"></i>
                        </div>
                        <small class="form-text text-muted">Longer than 8 characters, must be 2 digits and one uppercase
                            letter</small>
                    </div>
                    <div id="pass-danger" style="display:none;" class="text-danger">
                        Incorrect password
                    </div>
                    <div class="form-group">
                        <div class="password-wrap">
                            <input type="password" id="confirmPassword" class="form-control edit-form-control"
                                   placeholder="Confirm Password">
                            <i class="far fa-eye sign-up-password__icon" id="confirm-password-eye"></i>
                        </div>
                    </div>
                    <div id="confirmPassword-danger" style="display:none;" class="text-danger">
                        Passwords don't match
                    </div>

                    <div id="change-pass" class="btn btn-primary edit-btn">CHANGE PASSWORD</div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ asset('scripts/edit.js') }}"></script>
{% endblock %}