{% extends 'Layouts/default.twig' %}

{% block content %}
    <div class="container index-container">
        <img src="{{ asset('images/devCommunication.svg') }}" class = "home-logotype">
        <div class="title index-title">See what's happening in the IT right now</div>
        <div class="text index-text">Join us today.</div>
        <a href="user/signup" class="btn index-btn btn-primary index-btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Sign
            Up</a>
        <a href="user/login" class="btn index-btn btn-secondary index-btn-secondary btn-lg btn-block active" role="button" aria-pressed="true">Login</a>
    </div>
{% endblock %}