{% extends 'Layouts/default.twig' %}


{% block content %}
    {{ include ('Blocks/header-login.twig') }}
    <div class="container login-container">
        <form class="login-form" id="loginForm" action="/api/user/login" method="POST">
            <div class="form__title login-form__title">Log in to Dev Communication</div>
            <div class="form-group login-form-group">
                <input type="email" name="email" id="email" class="form-control login-form-control" aria-describedby="emailHelp" placeholder="Email or Username">
            </div>
            <div id="email-danger" style="display:none;" class="text-danger">
                Incorrect email
            </div>
            <div class="form-group login-form-group">
                <input type="password" name="password" id="password" class="form-control login-form-control login-password" placeholder="Password">
            </div>
            <div id="pass-danger" style="display:none;" class="text-danger">
                Incorrect password
            </div>

            <input type="button" id="submitBtn" class="btn login-btn btn-primary login-btn-primary" value="SUBMIT">

        </form>
        <div class="reference login-reference">
            <div class="reference__text login-reference__text">Need a Dev Communication?
                <a class="login-signup-btn-a-link" href="signup">SIGN UP</a></div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('scripts/postLogin.js') }}"></script>
{% endblock %}