{% extends 'Layouts/default.twig' %}


{% block content %}
    {{ include ('Blocks/main-header.twig') }}
    <main class="main edit-main">
        <div class="container">
            <div class="row">

                {% include 'Blocks/profile-block-info.twig' %}

                <div class="col-lg-6">

                    {% include 'Blocks/write-tweet.twig' %}

                    <div id="posts"></div>

{#                    {% for post in posts %}#}
{#                        {% include 'Blocks/tweet.twig' %}#}
{#                    {% endfor %}#}


                </div>

                {% include 'Blocks/followers-block.twig' %}

            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{{ asset('scripts/main-page.js') }}"></script>
{% endblock %}
