{% extends 'Layouts/default.twig' %}


{% block content %}
    {{ include ('Blocks/main-header.twig') }}
    <div class="container-fluid personal-background-profile"></div>

    <div class="personal-menu-block">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 d-lg-flex d-none">
                    <div class="personal-tabs">
                        <ul class="personal-tabs__caption">
                            <li class="active personal-tab">Tweets<span class="personal-tabs-number">{{ countPost }}</span></li>
                            <li class="personal-tab">Following<span class="personal-tabs-number">2</span></li>
                            <li class="personal-tab">Followers<span class="personal-tabs-number">2</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 personal-edit-profile">
                    <a class="personal-edit" href="edit">Edit Profile</a>

                </div>
            </div>
        </div>
    </div>

    <main class="main edit-main">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">

                    <div class="personal-background-avatar">
                        <i class="fas fa-user profile-background-icon"></i>
                    </div>


                    <div class="personal-info-block">
                        <div class="personal-profile-name">
                            {{ user.firstname }} {{ user.lastname }}
                        </div>
                        <div class="personal-profile-tag">
                            @{{ user.username }}
                        </div>

                        <div class="personal-profile-bio">
                            Edit your profile to add your bio
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tabs-content-block">

                    <div class="personal-tabs__content active">

                        {% include 'Blocks/write-tweet.twig' %}

                        <div id="posts"></div>

                    </div>

                    <div class="personal-tabs__content">
                        <h2>Following</h2>
                    </div>

                    <div class="personal-tabs__content">
                        <h2>Followers</h2>
                    </div>
                </div>

                {% include 'Blocks/followers-block.twig' %}

            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script src="{{ asset('scripts/personal.js') }}"></script>
{% endblock %}
