{% extends 'Layouts/default.twig' %}


{% block content %}

    {{ include ('Blocks/main-header.twig') }}

    <div class="container search-main col-lg-10">
        <div class="search-row row">

            {% include 'Blocks/profile-block-info.twig' %}

            <div class="form col-lg-6">

                <input class="form__search" placeholder="Search Twitter" type="text">
                <input type="button" class="form__submit-search" value="">

                {% include 'Blocks/search-tape.twig' %}

                {% include 'Blocks/search-tape.twig' %}

            </div>
        </div>
    </div>
{% endblock %}