{% extends 'Layouts/default.twig' %}


{% block content %}
    {{ include ('Blocks/header-login.twig') }}
    <div class="container signup-container">
        <form class="signup-form" id="signUpForm" method="post">
            <div class="form__title signup-form__title">Create an account</div>

            <div class="row">
                <div class="col-12 col-md-6 pl-0 pb-3 pb-md-0 pr-0 pr-md-2">
                    <input type="text" id="firstName" name="firstname" class="form-control signup-form-control"
                           placeholder="First Name">
                    <small class="form-text text-muted">Name must be longer than 3 and shorter than 30
                        characters</small>
                    <div id="firstName-danger" style="display:none;" class="text-danger">
                        Incorrect name
                    </div>
                </div>

                <div class="col-12 col-md-6 pl-0 pr-0">
                    <input type="text" id="lastName" name="lastname" class="form-control signup-form-control"
                           placeholder="Last Name">
                    <small class="form-text text-muted">Last name must be longer than 3 and shorter than 30
                        characters</small>
                    <div id="lastName-danger" style="display:none;" class="text-danger">
                        Incorrect last name
                    </div>
                </div>
            </div>

            <div class="form-group signup-form-group">
                <input type="email" id="email" name="email" class="form-control signup-form-control"
                       placeholder="Email">
            </div>
            <div id="email-danger" style="display:none;" class="text-danger">
                Incorrect email
            </div>
            <div class="form-group signup-form-group">
                <input type="text" id="username" name="username" class="form-control signup-form-control"
                       placeholder="Username">
                <small class="form-text text-muted">Longer than 3 characters and shorter than 15 characters</small>
            </div>
            <div id="username-danger" style="display:none;" class="text-danger">
                Incorrect username
            </div>
            <div class="form-group signup-form-group">
                <input type="text" id="dob" name="dob" onfocus="(this.type='date')"
                       class="form-control signup-form-control" placeholder="Date of Birth">
            </div>
            <div id="dateOfBirth-danger" style="display:none;" class="text-danger">
                Incorrect date
            </div>
            <div class="form-group signup-form-group">
                <div class="password-wrap">
                    <input type="password" id="password" name="password"
                           class="form-control signup-form-control sign-up__password" placeholder="Password">
                    <i class="far fa-eye sign-up-password__icon" id="password-eye"></i>
                </div>
                <small class="form-text text-muted">Longer than 8 characters, must be 2 digits and one uppercase
                    letter</small>
            </div>
            <div id="pass-danger" style="display:none;" class="text-danger">
                Incorrect password
            </div>
            <div class="form-group signup-form-group">
                <div class="password-wrap">
                    <input type="password" id="confirmPassword" class="form-control signup-form-control"
                           placeholder="Confirm Password">
                    <i class="far fa-eye sign-up-password__icon" id="confirm-password-eye"></i>
                </div>
            </div>
            <div id="confirmPassword-danger" style="display:none;" class="text-danger">
                Passwords don't match
            </div>

            <input type="button" value="SUBMIT" id="submitBtn" class="btn signup-btn btn-primary signup-btn-primary">

        </form>
        <div class="reference signup-reference">
            <div class="reference__text signup-reference__text">Already using Dev Communication?
                <a class="signup-href-a-link" href="login">LOGIN</a></div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('scripts/postSignUp.js') }}"></script>
{% endblock %}