<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title(title) }}</title>
    <meta name="description" content="{{ description }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}">

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/4272557b9c.js"></script>
    <link rel="shortcut icon" href="{{ asset('images/faviconDev.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <!-- <link href="{  asset('css/styles.css') }}" rel="styleshe   et" type="text/css"/>-->

</head>
<body>

{% block header %}{% endblock %}
{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ asset('bootstrap/popper.min.js') }}"></script>
<script src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('bootstrap/bootstrap.bundle.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>